apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
  name: nginx
  namespace: testing
spec:
  ports:
  - name: nginx
    port: 80
    protocol: TCP
    targetPort: 9095
  selector:
    app: nginx
  type: NodePort
