%sysops {{ ansible_default_ipv4.address }} = (ALL) ALL
Host_Alias WEBSERVERS = {{ groups['web']|join(' ') }}
Host_Alias DBSERVERS  = {{ groups['database']|join(' ') }}
%httpd WEBSERVERS = /bin/su - webuser
%dba   DBSERVERS = /bin/su - dbuser
 
